<!-- Check: <i class="far fa-check-square"></i> -->
<!-- Uncheck: <i class="far fa-square"></i> -->

<div class="wrapper-home">
  <div class="container-home">


    <%= tag.div id: :boards, data: { todos: @todos.to_json } %>


  </div>
</div>

